@model FamilyArchive.Models.Events

@{
    ViewData["Title"] = "Details";
}


<div>
    
    <dl class="dl-horizontal">
        <dt>
            Type of Event
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            Date and Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Location
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            Supply Request(s)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplyRequest)
        </dd>
        <dt>
            Food Request(s)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodRequest)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
