@model FamilyArchive.Models.Members

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Members</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Last Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Maiden Name 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaidenName)
        </dd>
        <dt>
           Nickname
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt>
            Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            Birth Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
           Death Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeathDate)
        </dd>       
        <dt>
           Anniversary
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anniversary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
