@model FamilyArchive.Models.Members

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Members</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isMaidenName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isMaidenName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaidenName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaidenName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isNickName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isNickName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isDied)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isDied)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeathDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isAnniversary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isAnniversary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anniversary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anniversary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pending)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pending)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
